<h1>RIS Template</h1>

<div class="ui-fluid">
  <p-panel>
    <p-header>Dynamic Control Information</p-header>
    <div class="ui-g form-group">
      <div class="ui-g-12 ui-md-2">
        <label for="FnameNls">Control Type</label>
      </div>
      <div class="ui-g-12 ui-md-4">
        <span class="md-inputfield">
            <p-dropdown id="CountryId" [options]="controlTypes" optionLabel="label" class="select-100" placeholder="Select control type"        
            [showClear]="true"  filter="true"></p-dropdown>
        </span>
      </div>

    </div>
  </p-panel>
</div>
